:root {
  /* --app_background: #97796e; */
  --app_background: #7e977e;
  --gradient_from: #d7cfc8;
  --gradient_to: #8f7c77;
  /* 97796e */
}

#trigger_buttons {
  /* height: 343px; */
  padding-top: 40px;
  display: grid;
  justify-content: left;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 62px;
}

.tog_label {
  font-weight: bold;
  /*text-align: center;*/
}

.outputs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  grid-column-gap: 5px;
  align-content: center;
  margin-top: -3px;
  font-family: "Courier New", Courier, serif;
  cursor: pointer;
}

.outputs div {
  background-color: #c3baba;
  font-size: 0.6em;
  padding-top: 3px;
  text-align: center;
  border-radius: 7px;
  border: 1px dotted;
}

#outputs0 div.selected {
  background-color: #6d6;
}

#outputs1 div.selected {
  background-color: #66d;
}

#outputs2 div.selected {
  background-color: #dd6;
}

#outputs3 div.selected {
  background-color: #d66;
}

#t0 {
  background-color: green;
}

#t1 {
  background-color: blue;
}

#t2 {
  background-color: yellow;
}

#t3 {
  background-color: red;
}

.lighted_button {
  height: 25px;
  border: 2px solid #666;
  border-radius: 25px;
  margin-top: -3px;
}

.slider_input_div input,
.slider_input_div input:disabled {
  width: 55px !important;
  text-align: right;
  margin-left: 5px !;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  padding: 0 !important;
}
