:root {
  /* --app_background: #97796e; */
  --app_background: #7e977e;
  --params_border_color: #aba;
  --params_background: #bbc0cc;
  --params_background: url("../img/tile1bw.jpg");
  --pink_background: #d6b6ea;
  --blue_background: #a7b3d7;
  --meas_background: #d7c8a7;
  /* --gradient_from: #a8a5a0;
  --gradient_to: #686560; */
  --gradient_from: #a8a5c0;
  --gradient_to: #504e68;
  --inside_params_background: #d0d1d5;
  --selected_param_background: #a19992;
  --param_button_background: #543;
  --main_label_font: "MedievalSharpRegular";
  --view_switch_handle_background: linear-gradient(to bottom, #cba, #654);

  --track_gradient: linear-gradient(to right, #a99, #765);
  /* 97796e */
}

body.page-two-column:not(.archive).page-id-484 #primary .entry-content,
body.page-two-column:not(.archive).page-id-484 #primary .entry-header {
  float: none;
  width: auto;
}

body {
  overflow: hidden;
  font-size: 16px !important;
  width: 1100px;
  height: 841px;
  background-image: linear-gradient(to bottom, var(--gradient_from), var(--gradient_to)) !important;
  font-family: SpaceGroteskRegular, sans-serif !important;
}

#right_controls div {
  /* border: 1px solid red; */
}

@font-face {
  font-family: "DMMonoRegular";
  src: url("../font/DMMono/DMMono-Regular.ttf");
}

@font-face {
  font-family: "LeagueSpartanRegular";
  src: url("../font/League_Spartan/static/LeagueSpartan-Regular.ttf");
}

@font-face {
  font-family: "PermanentMarker";
  src: url("../font/PermanentMarker-Regular.ttf");
}

@font-face {
  font-family: "BlackOpsOne";
  src: url("../font/BlackOpsOne-Regular.ttf");
}

@font-face {
  font-family: "SpaceGroteskRegular";
  src: url("../font/Space_Grotesk/static/SpaceGrotesk-Regular.ttf");
}

@font-face {
  font-family: "UncialAntiquaRegular";
  src: url("../font/UncialAntiqua-Regular.ttf");
}

@font-face {
  font-family: "MedievalSharpRegular";
  src: url("../font/MedievalSharp/MedievalSharp-Regular.ttf");
}

h1.entry-title {
  /* color: green !important; */
}

h3 {
  text-align: center;
  font-weight: 500;
  padding: 0;
  position: relative;
  top: 15px;
  /*margin-top: 15px;*/
}

textarea {
  background-color: var(--inside_params_background) !important;
}

/* Chromium-specific styling */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  /* background: var(--params_background); */
  background: transparent;
  border-radius: 5px;
  outline: none;
  border: none !important;
  padding: 0 !important;
  position: relative;
  z-index: 200 !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  /* background: var(--param_button_background); */
  /* background: red; */
  /* background-image: linear-gradient(to bottom, #988, #456) !important;
  background-image: linear-gradient(to bottom, rgb(189, 150, 150), rgb(202, 58, 65)) !important; */
  /* background-image: linear-gradient(from center, rgb(206, 207, 185), rgb(99, 120, 15)) !important; */
  /* background-image: radial-gradient(circle, rgb(206, 207, 185), rgb(99, 120, 15)) !important; */
  background-image: radial-gradient(circle, var(--gradient_from), var(--gradient_to)) !important;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -2px;
  left: 1px;
  position: relative;
  z-index: 300 !important;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  /* background: var(--params_background); */
  background: var(--track_gradient) !important;
  border-radius: 5px;
}

input[type="range"]:disabled::-webkit-slider-thumb,
input[type="range"]:disabled::-webkit-slider-runnable-track {
  opacity: 0.3;
  cursor: not-allowed;
}

.slider_input_div {
  margin-top: 16px;
}

.slider_input_div + div {
  position: relative;
}

.hash-marks {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 92%;
  height: 14px;
  pointer-events: none; /* Ensure hash marks do not interfere with slider interaction */
  z-index: 100 !important;
  /* background-color: #898; */
}

.hash-mark {
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: #888;
  transform: translateY(-50%);
}

#adj_div {
  /* padding-bottom: 20px !important; */
}

#adj_div .slider_input input:focus {
  background: #dde !important;
}

#adj_div input[type="range"] {
  margin-bottom: 25px !important;
}

#adj_div > div.last-one + input[type="range"] {
  margin-bottom: 45px !important;
}

#adj_controls input.item_slider {
  background-color: #dddddd !important;
}

/* end of special slider styling */

#brand {
  position: absolute;
  top: 20px;
  left: 95px;
}

#product_name {
  font-size: 1.1rem;
  color: #70522a;
}

#settings_system_message_div .product_name {
  font-family: BlackOpsOne, sans-serif;
  text-transform: uppercase;
  /* color: #333; */
}

#brand strong {
  font-size: 1.2rem;
  /* color: #385a37 !important; */
}

/* for name at top */
#device_name {
  font-size: 2.8rem;
  padding: 0 !important;
  margin-bottom: 0;
  font-family: PermanentMarker, MedievalSharpRegular, UncialAntiquaRegular, sans-serif;
}

/* for name in system message */
.device_name {
  font-family: PermanentMarker, MedievalSharpRegular, UncialAntiquaRegular, sans-serif;
}

#product_name {
  font-size: 1.5rem;
  padding: 0 !important;
  margin-top: 0;
  font-family: BlackOpsOne, sans-serif;
  text-transform: uppercase;
}

/* #refresh_button {
  display: none;
} */

.entry-content {
  /*height: 975px;*/
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#control_div {
  position: relative;
  padding: 10px 30px 0px 30px;
  /* width: 1100px;
  height: 841px; */
  border: 1px solid transparent;
  background-color: transparent;
  /* background-color: var(--app_background); */
  /* background-image: linear-gradient(to bottom, var(--gradient_from), var(--gradient_to)); */
  /*background-image: linear-gradient(to bottom, #cfaa7c, #cfaa7c);*/
  /*background-color: #cfc7c0;*/
  /*background-image: linear-gradient(to bottom, #997780, #f7dde0);*/
}

#control_div label {
  margin-bottom: 0 !important;
}

#control_div .info {
  /* color: #c06606; */
  font-style: italic;
}

#control_div .warn {
  color: #c06606;
}

#refresh_button,
#info_button {
  color: #444444;
  background-color: transparent;
  padding: 0;
  font-size: 30px;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  transition-property: transform, color;
  transition-duration: 0.5s;
}

#info_button:hover {
  color: #c16666;
}

#refresh_button:hover {
  transform: rotate(90deg);
  color: #c16666;
}

#refresh_button img {
  height: 35px;
  position: relative;
  top: 8px;
}

/*#refresh_button:active img {*/
/*    height: 30px;*/
/*}*/

/* strong {
  color: #666 !important;
} */

#spank_fxn,
#fxn_control_buttons {
  display: none;
}

.fxn_head {
  font-weight: bold;
  text-decoration: none;
  color: #fde880;
  text-align: center;
  font-size: 1.5em;
}

.top_button {
  /*border-radius: 20px;*/
  width: 85px !important;
  padding: 10px;
}

#upparam_button {
  grid-column: 1 / span 2;
}

#downparam_button {
  grid-column: 3 / span 2;
}

.cmd_button {
  background-color: var(--param_button_background);
  color: #aaa;
  padding: 5px;
  /* font-size: 0.75em; */
  /* width: inherit !important; */
  border: 1px outset var(--selected_param_background);
  cursor: pointer;
  transition: background-color 0.3s;
}

.cmd_button:hover {
  background-color: var(--param_button_background) !important;
  color: #ffffff;
}

.cmd_button:disabled {
  background: #888;
  cursor: default;
}

.cmd_button:disabled:hover {
  color: #aaaaaa !important;
}

#macro_buttons .cmd_button:hover,
#snapshot_button_div .cmd_button:hover {
  color: #ffffff;
}

.indicator {
  margin-top: 5px;
  border-radius: 15px;
  background-color: transparent;
  padding: 5px 32px;
  cursor: default;
}

/* .display_box {
  border: 1px dotted;
  padding: 10px;
}
 */
#display_div {
  background-color: transparent;
  /* background-color: var(--params_background);
  background-image: var(--params_background);
  border: 1px solid var(--params_background);
  border-radius: 8px; */
  min-height: 640px;
  /* width: 450px; */
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

#left_controls {
  position: relative;
  z-index: 1;
}

#fxn_buttons button,
#macro_controls label,
#left_controls label,
#right_controls > div > div > label {
  font-family: var(--main_label_font);
  font-size: 1.2em !important;
}

#adj_div label {
  font-family: inherit;
  font-size: inherit;
}

#display_div select {
  height: inherit !important;
}

#param_box_disabler {
  position: absolute;
  top: 295px;
  left: 17px;
  opacity: 0.5;
  z-index: -5;
  height: 267px;
  width: 420px;
  background: #999;
  border-radius: 8px;
}

#param_box {
  padding-right: 12px;
  /*min-height: 220px;*/
  /* display: grid;
  grid-template-columns: auto 25px; */
  margin-bottom: 10px;
  /* background-color: var(--params_background); */
  /* padding: 0 0 10px 0; */
  /*border: #e1ceed 5px inset;*/
  /* border: 2px solid #a9a; */
  /*background-image: linear-gradient(#dddddd 10%, #231a54  90%);*/
}

#display_div button {
  border-radius: 4px;
}

#display_div button:disabled {
  border: 1px solid;
  border-radius: 4px;
  background: #999 !important;
  color: #aaa !important;
  cursor: default;
}

.ud_button {
  width: 103px !important;
  /* font-family: "EBGaramondBold, Arial Hebrew", Arial, sans-serif; */
  font-weight: 300;
  line-height: 0.4em !important;
  padding: 5px;
}

#param_buttons {
  padding-top: 8px;
  margin-left: 8px;
}

#lr_buttons,
#param_buttons {
  /*margin: auto;*/
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 3px;
  padding-bottom: 5px;
}

#lr_buttons button,
#param_buttons .ud_button {
  padding-bottom: 10px;
}

#lr_buttons button,
#param_buttons button,
#default_button {
  height: 20px;
  /* padding: 0px 4px 4px 4px; */
  width: 50px;
  line-height: 0.4em;
  /* background-color: var(--param_button_background); */
  /* border: 1px outset; */
}

.digit_button {
  font-size: 12px;
  padding-top: 7px;
}

#default_div {
  text-align: center;
}

#default_button {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 300;
}

#params_label {
  padding-left: 18px;
  color: #444;
  float: left;
}

#params {
  /* min-height: 230px; */
  height: 268px;
  max-height: 268px;
  overflow: auto;
  width: 96%;
  margin-left: 15px;
  /* padding-left: 13px; */
  /* padding-right: 15px; */
}

#macro,
#user_waveform,
#system_message_div,
#params,
#adj_div,
#trigger_buttons,
#skin_name {
  border: 1px inset var(--params_border_color);
  border-radius: 8px;
  background-color: var(--inside_params_background);
}

#system_message_div,
#params,
#adj_div,
#trigger_buttons,
#skin_name {
  background: var(--params_background);
}

#skin_name {
  line-height: 1.2;
  padding: 0 2px 0 3px;
  width: 100px;
  text-align: center;
}

/* Target the scrollbar container */
#params::-webkit-scrollbar,
#system_message_div::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}

.param_div input {
  height: 25px !important;
}

#display_div h2 {
  text-align: left;
  /*margin-left: 30px;*/
  margin-top: 10px;
  margin-bottom: 0;
}

#input_div {
  /*margin-top: 15px;*/
  padding-right: 25px;
}

#right_controls {
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: flex-start;
  margin-right: 15px;
}

#skin_controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  /* width: inherit; */
  position: absolute;
  bottom: 40px;
  right: 40px;
}

#skin_controls button {
  font-size: 12px;
  height: 20px;
  padding-bottom: 10px;
  padding-top: 0;
  cursor: pointer;
}

#skin_controls button:hover {
  background-color: #898 !important;
}

#macro_controls,
#user_waveform_controls {
  width: 435px;
}

#user_waveform_controls {
  margin-left: 20px;
}

#activate_controls,
#draw_controls,
#cancel_draw_controls {
  width: 100%;
}

#activate_controls {
  text-align: center;
  padding-right: 10px;
}

/* #draw_controls {
  margin-top: -25px;
  margin-bottom: 10px;
} */

#draw_controls,
#cancel_draw_controls {
  display: none;
  text-align: center;
}

#trig_adj_controls {
  display: flex;
  gap: 17px;
  align-items: stretch;
}

#trigger_controls,
#adj_controls {
  width: 210px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
}

#adj_div,
#trigger_buttons {
  padding: 5px 20px;
}

#trigger_buttons {
  padding-bottom: 20px;
}

#trigger_buttons button {
  width: 100px;
}

#input_div {
  display: none;
}

#param_fxn_label {
  margin-left: 15px;
}

.param_div div:first-child {
  /*width: 130px;*/
}

.param_div.selected {
  background-color: var(--selected_param_background);
  /* margin-right: 9px;
  margin-left: 9px; */
  border: 1px solid var(--selected_param_background);
  /* border-radius: 4px; */
}

.param_div div.param_label {
  color: #333;
}

.param_div.selected div.param_label {
  color: #333;
  font-weight: bold;
}

.param_div div.param,
.param_div div.sequence {
  padding-left: 5px;
  float: left;
  /*width: 200px;*/
}

.param_div > div.param {
  width: 50%;
}

.param_head {
  text-align: right;
  padding-right: 10px;
}

.param_div input {
  padding: 5px;
}

.param_div {
  cursor: pointer;
  /* padding-left: 15px; */
}

#param_value {
  position: absolute;
  top: -1000px;
  left: -5px;
  width: 76%;
}

.param_val {
  position: relative;
}

.param_div input:disabled {
  background-color: transparent !important;
  border: none;
}

.param_div .param_val.radio {
  display: grid;
}

.param_div .param_val.radio .param label {
  display: inline;
  position: relative;
  top: -8px;
  /*color: red !important;*/
}

.clear {
  clear: both;
}

.hilight {
  text-decoration: underline;
  white-space: pre;
}

.hilight_emphasize {
  text-decoration: overline;
}

.hide {
  opacity: 0;
}

#macro_container,
#fxn_buttons,
#user_waveform_container {
  max-width: 513px;
}

#macro_buttons {
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  text-align: center;
  grid-column-gap: 3px;
}

#macro_buttons .cmd_button {
  width: 125px !important;
}

#macro_buttons button,
#trigger_buttons button,
#snapshot_button_div button,
#user_waveform_button_div button {
  padding: initial !important;
}

label[for="macro"] {
  margin-bottom: 0 !important;
}

#action_div {
  display: flex;
  gap: 20px;
}

#fxn_div {
  /* position: absolute;
        right: 25px;
        top: 120px; */
  width: 120px !important;
  margin-bottom: 20px;
  background-color: transparent;
}

#fxn_buttons {
  /*margin-bottom: 5px;*/
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  row-gap: 25px;
}

#draw_button,
#cancel_draw_button {
  margin-top: 10px;
}

#fxn_buttons button,
#activate_button {
  background-color: #888888;
  color: #666;
  padding: 5px;
  font-size: 0.75em;
  width: inherit !important;
  border-radius: 6px;
}

#activate_button {
  background-color: #19972e;
  background: linear-gradient(to bottom, #39b74e, #19972e);
  color: #0b0320;
  width: 16% !important;
  /* border: 2px solid var(--param_button_background); */
  border-radius: 30px !important;
  line-height: 1;
  /* font-family: var(--main_label_font); */
}

#activate_button:hover {
  color: white !important;
}

#activate_button:disabled {
  border-radius: 30px !important;
}

#fxn_buttons button.selected,
#fxn_buttons button.selected:hover {
  background: var(--params_background);
  color: #444;
  cursor: default;
  font-size: 0.9em;
  /* border: 1px outset var(--params_background); */
}

#fxn_buttons button:hover {
  background: var(--params_background);
  color: #888;
}

#fxn_buttons button.grouped {
  /* border: purple solid 2px; */
  color: #602b65;
}

.controls_button:disabled,
#fxn_buttons button:disabled {
  background-color: transparent;
  color: #aaa;
}

#tog_button,
#trig_div {
  /*display: flex;*/
  /*justify-content: flex-end;*/
  /*height: 25px;*/
  /*margin-bottom: 20px;*/
}

#ext_trig_button,
#clk_button {
  text-transform: capitalize;
}

.led_button {
  width: 25px !important;
}

.led_button:disabled {
  opacity: 0.2;
  cursor: default;
}

#adj_div input[type="range"] {
  margin-bottom: 20px;
}

#adj_div input[type="range"]:last-of-type {
  margin-bottom: 0px;
}

.lighted_button:hover {
  border-color: #a0b0a1;
}

.lighted_button:disabled:hover {
  border-color: #666;
}

#meas_div {
  position: relative;
  text-align: center;
  min-height: 40px;
  height: 233px;
  width: 450px;
  grid-column: 1 / span 2;
  padding: 15px;
  padding-top: 0;
  font-size: 2.5rem;
  margin-bottom: 0px;
  /* border: 2px solid #a9a;
  border-bottom: 0px solid #a9a; */
  /* background-color: var(--params_background); */
}

#system_message_div {
  font-size: 1.2rem;
  bottom: 0px;
  max-height: 200px;
  overflow: auto;
}

#system_message_div p {
  margin: 0;
}

#canvas_message_div {
  /* bottom: -5px; */
  left: 20px;
  font-size: 14px;
}

#canvas_message_div,
#system_message_div {
  position: absolute;
  font-size: 14px;
  width: 100%;
  text-align: left;
}

#canvas_message_div h2,
#system_message_div h2 {
  text-align: center;
  font-size: 2.5rem;
}

#canvas_message_div ul,
#system_message_div ul {
  list-style-position: inside;
}

.big_message {
  position: relative !important;
  height: 200px;
  /* font-size: 2.5rem; */
  text-align: center !important;
}

.big_reading {
  font-size: 34px;
}

#bounce_reading {
  display: flex;
  justify-content: center;
  font-family: DMMonoRegular;
}

#bounce_reading .reading {
  text-align: right;
}

.reading {
  text-align: right;
  width: 150px;
}

#busy_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 1100px;
  min-height: 967px;
  background-color: #474444;
  font-size: 2em;
  opacity: 0;
  z-index: -100;
}

#busy_div div {
  width: 250px;
  background-color: rgb(199, 201, 187);
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: 4px solid;
}

.slider_input_div {
  display: flex;
  align-items: baseline;
  /* justify-content: flex-end; */
  justify-content: space-between;
}

.slider_input_div input:focus,
.slider_input_div input:hover {
  background-color: #c4bcb5;
  border: 1px solid #a09e9e;
}

.slider_input_div input:disabled,
.item_disabled {
  color: #aaa !important;
}

.item_in_use {
  /* color: #f00 !important; */
}

.slider_input {
  display: flex;
}

.slider_input_div input {
  color: #333 !important;
}

#snapshot_button_div {
  text-align: center;
}

#snapshot_button_div button,
#user_waveform_button_div button {
  width: 200px;
  margin-top: 10px;
}

#user_waveform_button_div {
  display: flex;
  gap: 20px;
}

#user_waveform_button_div button {
  width: 30%;
  margin-top: 10px;
}

.adj_widget {
  display: flex;
  flex-wrap: wrap;
}

.adj_widget > * {
  flex: 1 1 50%;
}

#canvas {
  display: none;
  margin-bottom: -15px;
  background-color: var(--meas_background);
  border: 1px inset var(--params_border_color);
}

#system_message_div h2 {
  /* color: #333; */
  color: var(--param_button_background);
  /* font-family: MedievalSharpRegular, UncialAntiquaRegular, "PermanentMarker", "BlackOpsOne"; */
  font-family: "BlackOpsOne";
}

#system_message_div h2 span {
  /* color: var(--param_button_background); */
  color: #333;
}

#canvas,
#system_message_div {
  border-radius: 8px;
}

#head_div {
  display: grid;
  grid-template-columns: 50px auto 50px 50px;
  margin-top: 10px;
  width: initial !important;
}

#head_div > img {
  height: 50px !important;
}

#head_div > * {
  /*border: 1px solid;*/
}

#user_waveform_controls {
  display: none;
}

#settings_system_message_div,
#bounce_params_message_div,
#output_params_message_div {
  font-size: 1.2rem;
  padding: 10px;
}

#system_message_div li {
  padding: 10px 25px;
  text-align: justify;
}

#output_params_message_div h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

/* Slider */
/* Container for the slider */
#view_switch_div {
  margin: 0 0 4px 0;
  float: right;
}

#view_switch_div > * {
  float: right;
}

#view_switch_div > span {
  margin-right: 8px;
  margin-left: 8px;
}

/* Hide the default checkbox */
.switch input {
  display: none;
}

/* The slider */
.view_switch_slider {
  position: relative;
  display: inline-block;
  width: 40px; /* Adjusted width to maintain aspect ratio */
  height: 10px; /* Set height to 10px */
  background-color: var(--meas_background);
  border-radius: 10px;
  border: 1px inset var(--selected_param_background);
  cursor: pointer;
  transition: background-color 0.4s;
}

/* The slider handle */
.view_switch_slider:before {
  content: "";
  position: absolute;
  width: 11px; /* Adjusted width to fit within the slider */
  height: 18px; /* Adjusted height to fit within the slider */
  left: 0px; /* Adjusted position to center the handle */
  bottom: -4px; /* Adjusted position to center the handle */
  /* background-color: var(--selected_param_background); */
  border: 1px outset #a98;
  background: var(--view_switch_handle_background);
  /* background: linear-gradient(to bottom, #cba, #654) !important; */
  /* background: linear-gradient(to bottom, #abc, #456) !important; */
  /* background: linear-gradient(to bottom, #ccc, #666) !important; */
  border-radius: 50%;
  transition: transform 0.4s;
}

/* When the checkbox is checked */
input:checked + .view_switch_slider {
  background: var(--params_background);
}

/* Move the slider handle when checked */
input:checked + .view_switch_slider:before {
  transform: translateX(30px); /* Adjusted to match the new width */
}

/* Rounded slider */
.view_switch_slider.round {
  border-radius: 10px;
}

.view_switch_slider.round:before {
  border-radius: 50%;
}

/* from bonk_cp.css */
#trigger_buttons {
  /* height: 343px; */
  padding-top: 40px;
  display: grid;
  justify-content: left;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 35px;
}

.tog_label {
  font-weight: bold;
  /*text-align: center;*/
}

.outputs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  grid-column-gap: 5px;
  align-content: center;
  margin-top: -3px;
  font-family: "Courier New", Courier, serif;
  cursor: pointer;
}

.outputs div {
  background-color: #c3baba;
  font-size: 0.6em;
  padding-top: 3px;
  text-align: center;
  border-radius: 7px;
  border: 1px dotted;
  display: none;
}

#t0,
#outputs0 div.selected {
  background-color: #6d6;
}

#t1,
#outputs1 div.selected {
  background-color: #66d;
}

#t2,
#outputs2 div.selected {
  background-color: #dd6;
}

#t3,
#outputs3 div.selected {
  background-color: #d66;
}

#group,
#outputs4 div.selected {
  background-color: #904b95;
  border-radius: 0px;
}

#outputs4 div {
  border-radius: 0px;
  border: rgb(160, 157, 157) solid 1px;
}

#outputs4 div.selected {
  background-color: #904b95;
  color: white;
  /* border: solid 1px rgb(88, 86, 86); */
}

/* #t0 {
  background-color: #6d6;
}

#t1 {
  background-color: blue;
}

#t2 {
  background-color: yellow;
}

#t3 {
  background-color: red;
} */

.lighted_button {
  height: 25px;
  border: 2px solid #666;
  border-radius: 25px;
  margin-top: -3px;
}

.trig_button {
  border-radius: 25px !important;
}

.slider_input_div input,
.slider_input_div input:disabled {
  width: 55px !important;
  text-align: right;
  margin-left: 5px !;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  padding: 0 !important;
}

/* .outputs .bounce {
  display: none;
} */
